*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black; */
    margin: 20px;
    /* color: white; */
    font-family: Roboto;
    line-height: 1.8rem;
}
ul, li{
    padding: 0;
    list-style-type: none;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}
header{
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
nav{
    padding: 30px;
    border-right: 1px solid #ddd;
}
nav li{
    text-decoration: underline;
}
article h2{
    padding-top: 40px;
    font-size: 3.5em;
    max-width: 800px;
    text-align: center;

}
article img{
    width: 200px;
    height: 500px;
}
article img{
    width: 100%;
    padding-top: 60px;
}
article p{
    margin: 20px 0;
    line-height: 2em;
    font-size: 18px;
}
aside{
    padding: 30px;
    border-left: 1px solid #ddd;
}
footer{
    grid-column: span 3;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 30px;
}

@media screen and (max-width:1200px){
    nav{
        grid-column: span 3;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    nav li{
        display: inline-block;
        margin-right: 10px;
    }
    article{
        grid-column: span 2;
    }
    aside{
        padding: 16px;
    }
    article img{
        height: 500px;
    }
}
@media screen and (max-width:980px){
    nav,article,aside{
        grid-column: span 3;
    }
    aside{
        border-left: 0;
        border-top: 1px solid #ddd;
    }
    article h2{
        font-size: 2.5em;
    }
    article img{
        height: 300px;
    }
}
